body {
    padding-top: 25px;
    font-family: 'Muli', sans-serif;
}

h2, h4 {
    font-style: italic;
}

.tech-stack {
    font-weight: bold;
    text-decoration: underline;
}

.content {
    max-width: 800px;
}

.avatar {
    float: left;
}

.avatar > img {
    width: 200px;
    height: auto;
    border: 3px solid #6bbf27;
}

.info-block {
    border-top: 3px solid #6bbf27;
    margin-top: 20px;
}

.info-block .info-block-title {
    padding-top: 10px;
}


.left-cv-column a {
    color: #aabf00;
    text-decoration: underline;
    font-style: italic;
}

.cv-row {
    margin-bottom: 10px;
    border-bottom: 1px dotted #6bbf27;
}

#phone.hidden {
    color: gray;
    font-style: italic;
}