body {
    padding: 25px 0;
    font-family: 'Muli', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

.summary {
    margin-bottom: 15px;
}

.centered {
    text-align: center;
}

h2, h4 {
    padding-top: 15px;
    font-style: italic;
}

.tech-stack {
    font-weight: bold;
    text-decoration: underline;
}

.content {
    max-width: 1000px;
}

.info-block .info-block-title {
    padding-top: 10px;
    text-align: center;
}

.left-cv-column {
    background-color: #ecf9e2;
}

.left-cv-column h5 {
    margin-top: 20px;
}

.left-cv-column a {
    color: #6abf27;
    text-decoration: underline;
    font-style: italic;
}

.cv-row {
    border-bottom: 1px dotted #6bbf27;
}

#phone.hidden {
    color: gray;
    font-style: italic;
}