* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --high-light: #96bd34;
    --alter-color: #3d4548;
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    background-color: #e2f9f2;
    position: relative;
}

p+p {
    margin-top: 1rem;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1rem;
}

.text-justify {
    text-align: justify;
}

.text-centered {
    text-align: center;
}

.highlight {
    color: var(--high-light);
}

sup {
    line-height: 0.8;
    margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
    margin-bottom: 0.5rem;
    font-weight: 600;
}

label {
    font-weight: 600;
}

.content {
    border-top: 10px solid var(--high-light);
    background-color: #e8edf0;
    display: grid;
    grid-template-columns: 33% 67%;
    margin: auto;
    max-width: 1000px;
    position: relative;
}

.left-cv-column {
    color: #ffffff;
    background-color: #3d4548;
    height: 100%;
}

.left-cv-column-block {
    position: relative;
    padding: 30px 0 30px 30px;
    margin-right: 15px;
}

.left-cv-column-block+.left-cv-column-block {
    border-top: 2px solid #8e8e8e;
}

.left-cv-column-block a {
    color: var(--high-light);
}

.right-cv-column-section {
    background-color: #ffffff;
    margin: 20px;
    padding: 20px 0 0 20px;
}

.right-cv-column-block {
    padding: 20px 20px 20px 0;
}

.right-cv-column-block+.right-cv-column-block {
    border-top: 2px solid var(--alter-color);
}

.right-cv-column-title {
    padding-bottom: 1.5rem;
}

.right-cv-column-content {
    text-align: justify;
}

.right-cv-column-title {
    display: flex;
    justify-content: space-between;
}

.material-icons {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    vertical-align: bottom;
    color: var(--high-light);
}

.material-icons::after{
    content: ' ';
    white-space: pre;
}

a[class="no-dec"] {
    text-decoration: none;
}

.icon {
    background-color: var(--high-light);
    height: 32px;
    width: 32px;
    border: 1px solid var(--high-light);
}

@media screen and (max-width: 720px) {
    .content {
        grid-template-columns: 100%;
    }
    .left-cv-column-block {
        padding: 5px;
        margin-right: 0;
    }
    h1, h2, h3, h4, h5, h6 {
        text-align: center;
    }
    .right-cv-column-section {
        padding: 10px;
        margin: 10px;
    }
    .right-cv-column-block {
        padding: 10px 5px;
    }
    .right-cv-column-title {
        display: block;
        padding-bottom: 1rem;
    }
}

@media print {
    @page {
        size: A4;
    }
    body {
        min-width: 992px!important;
        position: relative;
    }
    /* .right-cv-column-block {
        page-break-inside: avoid;
    } */
}